# Bilibili 凭证配置
# 从浏览器 Cookie 中获取以下值
# 访问 https://www.bilibili.com 登录后，按 F12 打开开发者工具
# 在 Application -> Cookies -> https://www.bilibili.com 中找到对应的值

SESSDATA=your_sessdata_here
BILI_JCT=your_bili_jct_here
BUVID3=your_buvid3_here
